<div class="container">
  <div class="heading">
    <h1 class="title">Nume</h1>
    <div class="scores-container">
      <div class="score-container">{{ points }}</div>
      <div class="best-container">{{ max }}</div>
    </div>
  </div>

  <div class="game-message" [style]="gameMessageStyle">
    <p>Você perdeu</p>
    <button class="retry-button" (click)="play()">Mais uma vez</button>
  </div>

  <div class="game-container">
    <div class="grid-container">
      <div class="grid-row" *ngFor="let line of table">
        <div class="grid-cell" *ngFor="let cell of line">
          <div *ngIf="cell" (click)="select(cell)">
            {{ cell }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="game-hint">Não toque nos mesmos.</p>

</div>
